.App {
  text-align: center;
}

h1 {
  font-size: 10em;
  color: #caf0f8;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  font-size: 1.5em;
  color: white;
  font-style: bold;
  font-family: monospace  ;
}
